.form__auth__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__auth__inputs > div {
  flex: 0 0 49%;
  margin-bottom: 0.5rem;
}

.form__auth input[type="submit"] {
  font-size: 1.2em;
}

.form__auth {
  margin-bottom: 1rem;
}

.form__auth__inputs input {
  background-color: #fff;
  padding: 0.5rem;
}